.dashboard-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .main {
    flex: 1;
    display: flex;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  