<div class="container mt-4">
    <h2>My Leave Applications</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Leave ID</th>
          <th>Type</th>
          <th>Start</th>
          <th>End</th>
          <th>Reason</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of leaves">
          <td>{{ l['leaveTypeId'] }}</td>
          <td>{{ l['typeName'] }}</td>
          <td>{{ l['startDate'] }}</td>
          <td>{{ l['endDate'] }}</td>
          <td>{{ l['reason'] }}</td>
          <td>{{ l['status'] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  