<div class="container mt-4">
  <form (ngSubmit)="apply()">
    <div class="row">
      <div class="col-md-6">
        <div class="card shadow-sm border bcolor">
          <div class="card-header bg-light border-bottom-0">
            <h5 class="mb-0 text-primary fw-semibold hcolor">
              Apply for Leave
            </h5>
          </div>

          <div class="card-body pt-3 tcolor">
            <div class="form-group row ps-0 pe-0 ms-0 me-0">
              
              <div class="form-group d-flex align-items-center mb-2">
                <label for="leaveTypeId" class="form-label me-3 label-fixed-width">Leave Type ID</label>
                <input type="number" id="leaveTypeId" class="form-control flex-grow-1"
                       [(ngModel)]="leave.leaveTypeId" name="leaveTypeId" required />
              </div>

              <div class="form-group d-flex align-items-center mb-2">
                <label for="startDate" class="form-label me-3 label-fixed-width">Start Date</label>
                <input type="date" id="startDate" class="form-control flex-grow-1"
                       [(ngModel)]="leave.startDate" name="startDate" required />
              </div>

              <div class="form-group d-flex align-items-center mb-2">
                <label for="endDate" class="form-label me-3 label-fixed-width">End Date</label>
                <input type="date" id="endDate" class="form-control flex-grow-1"
                       [(ngModel)]="leave.endDate" name="endDate" required />
              </div>

              <div class="form-group d-flex align-items-center mb-2">
                <label for="reason" class="form-label me-3 label-fixed-width">Reason</label>
                <textarea id="reason" class="form-control flex-grow-1"
                          [(ngModel)]="leave.reason" name="reason" required></textarea>
              </div>

              <div class="d-flex justify-content-center mt-2">
                <button type="submit" class="btn btn-primary primarybtn">
                  Submit
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
