<div class="container mt-4">
  <form [formGroup]="jobForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">
      <div class="col-md-5">
        <div class="card shadow-sm border bcolor">
          <div class="card-header bg-light border-bottom-0">
            <h5 class="mb-0 text-primary fw-semibold hcolor">Job Details</h5>
          </div>

          <div class="card-body pt-3 tcolor">

            <!-- Reusable Field Template -->
            <div *ngFor="let field of jobFields" class="form-group d-flex align-items-center mb-2">
              <label [for]="field.name" class="form-label me-3 label-fixed-width">{{ field.label }}</label>
              <input
                [type]="field.type"
                [id]="field.name"
                [formControlName]="field.name"
                [readonly]="!isAdmin"
                class="form-control flex-grow-1"
                [class.is-invalid]="hasError(field.name)"
              />
            </div>
            <!-- Error Feedback -->
            <div *ngFor="let field of jobFields">
              <div *ngIf="hasError(field.name)" class="invalid-feedback d-block ms-5">
                <div *ngIf="jobForm.get(field.name)?.errors?.['required']">
                  {{ field.label }} is required.
                </div>
              </div>
            </div>

            <!-- Save Button -->
            <div class="d-flex justify-content-center mt-2" *ngIf="isAdmin">
              <button type="submit" class="btn btn-primary primarybtn" [disabled]="jobForm.invalid">
                Save
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </form>
</div>
