<div class="container mt-4">
  <form [formGroup]="jobForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">
      <div class="col-md-5">
        <div class="card shadow-sm border bcolor">
          <div class="card-header bg-light border-bottom-0">
            <h5 class="mb-0 text-primary fw-semibold hcolor">Job Details</h5>
          </div>

          <div class="card-body pt-3 tcolor">
            <div class="form-group row ps-0 pe-0 ms-0 me-0">
              <!-- Job Title -->
              <div class="form-group d-flex align-items-center mb-3">
                <label for="jobTitle" class="form-label me-3 label-fixed-width">Job Title</label>
                <input type="text" id="jobTitle" formControlName="jobTitle"
                       class="form-control flex-grow-1" [readonly]="!isAdmin" />
              </div>

              <!-- Employment Status -->
              <div class="form-group d-flex align-items-center mb-3">
                <label for="employmentStatus" class="form-label me-3 label-fixed-width">Employment Status</label>
                <input type="text" id="employmentStatus" formControlName="employmentStatus"
                       class="form-control flex-grow-1" [readonly]="!isAdmin" />
              </div>

              <!-- Joined Date -->
              <div class="form-group d-flex align-items-center mb-3">
                <label for="joinedDate" class="form-label me-3 label-fixed-width">Joined Date</label>
                <input type="date" id="joinedDate" formControlName="joinedDate"
                       class="form-control flex-grow-1" [readonly]="!isAdmin" />
              </div>

              <!-- Location -->
              <div class="form-group d-flex align-items-center mb-3">
                <label for="location" class="form-label me-3 label-fixed-width">Location</label>
                <input type="text" id="location" formControlName="location"
                       class="form-control flex-grow-1" [readonly]="!isAdmin" />
              </div>
            </div>

            <!-- Submit -->
            <div class="d-flex justify-content-center mt-2" *ngIf="isAdmin">
              <button type="submit" class="btn btn-primary primarybtn" [disabled]="jobForm.invalid">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
