 
  .card-header {
    font-size: 1.1rem;
    color: #3b6caa !important;
    background-color: transparent !important;
  }
  
  .table th, .table td {
    vertical-align: middle;
    text-align: center;
  }
  
  .css{
    border-radius: 0px !important;
  }

  .table-warning th {
    background-color: rgba(248,249,250) !important;
    color: #3b6caa !important;
  }

  .cell td{
    font-size: 0.75rem !important;
  }