<nav class="sidebar">
    <ul>
      <li>
        <span>Personal</span>
        <ul>
          <li><a routerLink="/dashboard/personal-details">Personal Details</a></li>
          <li><a routerLink="/dashboard/contact-details">Contact Details</a></li>
        </ul>
      </li>
      <li>
        <span>Employment</span>
        <ul>
          <li><a routerLink="/dashboard/job">Job</a></li>
          <li><a routerLink="/dashboard/salary">Salary</a></li>
        </ul>
      </li>
      <li>
        <span>Qualification</span>
        <ul>
          <li><a routerLink="/dashboard/work-experience">Work Experience</a></li>
          <li><a routerLink="/dashboard/education">Education</a></li>
        </ul>
      </li>
      <li>
        <span>Leave</span>
        <ul>
          <li><a routerLink="/dashboard/apply-leaves">Apply Leave</a></li>
          <li><a routerLink="/dashboard/my-leaves">My Leave</a></li>
          <li *ngIf="role === 'Admin'">
            <a routerLink="/dashboard/all-leaves">All Leaves</a>
          </li>
        </ul>
        <li *ngIf="role === 'Admin'">
          <span>User-Details</span>
          <ul>
            <li><a routerLink="/dashboard/view-user">View User</a></li>
          </ul>
        </li>        
    </ul>
  </nav>
  