.hcolor {
  color: #3b6caa !important;
}

.card-header{
  background-color: rgba(33,37,41, 0.03);
}

.tcolor {
  color: #333;
  font-size: 0.75rem;
}

.bcolor {
  border-color: #ccc !important;
}

.card{
  border-radius: 5px !important;
}